<header class="post-header">
  {% if page.single %}
    <h2 class="post-title">{{ post.title }}</h2>
  {% else %}
    <h2 class="post-title"><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h2>
  {% endif %}
</header>

<p class="post-meta">
  {% include post/date.html %}
</p>

<section class="post">
  <div class="post-description">

  {% if page.single %}
    {{ content }}
  {% else %}
    {{ content | excerpt }}
    {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
    {% if excerpted == 'true' %}
      <footer>
        <a href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
      </footer>
    {% endif %}
  {% endif %}

  </div>
</section>
